%script{ :type => 'text/template', :id => 'episode_show_template' }
  %h3 {{final_match.title.replace(/\./g,' ')}} - Season {{final_match.season}} Episode {{final_match.episode}}
  .file-path
    {{file_path}}
