
<div class="container">
  <br/>
  <div class="row">
    <a class="span9 btn btn-primary btn-large" href="javascript:;" onclick="FilesManager.searchFiles();">Search Downloads</a>
    <br/>

    <div id="filesSection" class="span9 hero-unit hide">

    </div>
  </div>

</div> <!-- /container -->
